@keyframes flash {
  0% {
    background-color: rgb(191, 219, 254);
    border-color: rgb(59, 130, 246);
  }
  100% {
    background-color: transparent;
    border-color: transparent;
  }
}

.flash {
  animation: flash 300ms ease-out;
}
